<!doctype html>
<!-- This file is meant to contain the base wrapper that applies for all content, such as the header, footer, css and js resources. -->
<html>
	<head>
		<!-- TODO: get a favicon to setup. -->
		<!-- TODO: make the title dynamic and appropriate. -->
		<title>HU Webshop Project</title>
		<!-- TODO: add dynamic meta tags for each page. -->
		<link rel="shortcut icon" type="image/png" href="/static/favicon.png">
		<!-- Add Javascript libraries under this heading. -->
		<script src="/static/jquery-3.4.1.min.js"></script>
		<script src="/static/dynamic-elements.js"></script>
		<!-- Add CSS files under this heading. -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">
		<link rel="stylesheet" type="text/css" href="/static/stylesheet.css"></style>
	</head>
	<body>
		<!-- TODO: add a logical header here that allows the user to navigate, including the shopping cart. -->
		{% block header %}
		<div id="header">
			{% block sessionbar %}
			<div id="sessionbarbackground" class="hublue">
				<div id="profilebar-static" class="centerstage textright textwhiteshadow">
					Profiel-ID: {{ packet.profile_id }} <a function="show-profilebar-dynamic" href="#">(Aanpassen)</a>
				</div>
				<div id="profilebar-dynamic" class="centerstage textright textwhiteshadow" style="display:none;">
					Profiel-ID: <input id="profile-id-input" type="text" value="{{ packet.profile_id }}" size="30" />&nbsp;&nbsp;<a href="#" function="change-profile-id" class="hured small button"/>Aanpassen</a>&nbsp;&nbsp;<a function="show-profilebar-static" href="#">(X)</a>
				</div>
				<div id="profilebar-error" class="centerstage textright textwhiteshadow" style="display:none;">
					Fout: geen geldig profiel-ID opgegeven. Voer de hexadecimale string in behorend bij het _id van het gewenste profiel.
				</div>
			</div>
			{% endblock %}
			{% block logobar %}
			<div id="logobackground">
				<div id="logobar" class="centerstage">
					<a href="/"><img id="logo" src="/static/voorbeeldshoplogo_small.png" /></a>
					<div id="logosubbarright" class="logosubbar">
						&nbsp;
					</div>
					<div id="logosubbar" class="logosubbar">
						<a href="/winkelmand">Winkelmand (<span id="shoppingcartcount">{{ packet.shopping_cart_count }}</span>)</a>
					</div>
					<div id="logosubbarleft" class="logosubbar">
						&nbsp;
					</div>
				</div>
			</div>
			{% endblock %}
			{% block menu %}
			<span id="menuwrapper">
				<div id="menubarbackground" class="hublueborderbottom">
					<div id="menubar" class="centerstage">
						{% for k in packet.mainmenulist %}
						<div class="menuitem" dropdown="menudropdown-{{ packet.categories_encode[k] }}">	
							<a href="/producten/{{ packet.categories_encode[k] }}">{{ k }}</a>
						</div>
						{% endfor %}
						<div class="menuitem">
							<a href="/categorieoverzicht">&gt;</a>
						</div>
					</div>
				</div>
				<div id="menudropdownbackground">
					{% for k, v in packet.categoryindex.items() %}
					{% if v|length %}
					<div class="menudropdown hublueborderbottom" id="menudropdown-{{ packet.categories_encode[k] }}">
						{% for k2, v2 in v.items() %}
						{% if k2[0:1] != "_" %}
						<a href="/producten/{{ packet.categories_encode[k] }}/{{ packet.categories_encode[k2] }}" class="submenuitem">{{ k2 }}</a>
						{% endif %}
						{% endfor %}
					</div>
					{% endif %}
					{% endfor %}
				</div>
			</span>
			{% endblock %}
		</div>
		{% endblock %}
		
		<!-- TODO: extend this content block in subsequent templates. -->
		<div id="content" class="centerstage">
			{% block content %}{{ contenttext }}{% endblock %}
			{% block suggestionbox %}
			{% if packet.r_products %}
			<h4>{{ packet.r_string }}</h4>
			{% endif %}
			<div id="recommendedproducts">
				{% for product in packet.r_products %}
					<div class="productpageblock hublueborder">
						<a href="/productdetail/{{ product.id }}">
							<div class="productname">{{ product.name }}</div>
							<div class="productprice">{{ product.price }}</div>
							<div class="productdiscount hublue">{{ product.discount }}</div>
						</a>
						<a href="#" function="add-to-shopping-cart" class="recommended-addtocart button hured" productid="{{ product.id }}">In winkelmand</a>
					</div>
				{% endfor %}
			</div>

			{% endblock %}
		</div>
		{% block footer %}
		<div id="footer">
			<div id="bottombarbackground" class="hublue">
				<div id="bottombar" class="centerstage"></div>
			</div>
			<br/>
			<div id="credits">&copy; Hogeschool Utrecht, 2019.</div>
		</div>
		{% endblock %}
	</body> 
</html>