{% extends "base.html" %}
{% block content %}
<h2>{{ packet.product.name }}</h2>
<p>{{ packet.product.description|safe }}</p>
<h3>{{ packet.prepproduct.price }}</h3>
<a href="#" function="add-to-shopping-cart" class="recommended-addtocart button hured" productid="{{ packet.product._id }}">In winkelmand</a>

    {% if packet.g_products %}

        <h4>Misschien interessant voor jou</h4>

        <div id="recommendedproducts">
            {% for product in packet.g_products %}
                <div class="productpageblock hublueborder">
                    <a href="/productdetail/{{ product.id }}">
                        <div class="productname">{{ product.name }}</div>
                        <div class="productprice">{{ product.price }}</div>
                        <div class="productdiscount hublue">{{ product.discount }}</div>
                    </a>
                    <a href="#" function="add-to-shopping-cart" class="recommended-addtocart button hured" productid="{{ product.id }}">In winkelmand</a>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if packet.p_products %}

        <h4>Voor jouw budget</h4>

        <div id="recommendedproducts">
            {% for product in packet.p_products %}
                <div class="productpageblock hublueborder">
                    <a href="/productdetail/{{ product.id }}">
                        <div class="productname">{{ product.name }}</div>
                        <div class="productprice">{{ product.price }}</div>
                        <div class="productdiscount hublue">{{ product.discount }}</div>
                    </a>
                    <a href="#" function="add-to-shopping-cart" class="recommended-addtocart button hured" productid="{{ product.id }}">In winkelmand</a>
                </div>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}